@model FinanceManagementApp.Models.Budget

@{
    ViewData["Title"] = "Set budget";
    Layout = "~/Views/Shared/_NoNavBarLayout.cshtml";
}

<h2>Budget form</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@ViewData["ErrorMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST" action="@Url.Action("SetBudget", "Budget")">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Today's date:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="currentDate" value="@DateTime.Now" readonly />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Current budget for this month £:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="amount" value="@Model.Amount" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="@Url.Action("FinanceOverview", "FinanceOverview")" role="button">Cancel</a>
        </div>
    </div>
</form>